
.title{
    width: 100%;
    height: 10%;
    background-color: #DEEF99;
    margin-bottom: 2%;
    font-size: xx-large;
    padding-top: 3%;
    text-align: center;
}
.image{
    border-style: solid;
    width: 50vw;
    height: 50vh;
    margin-bottom: 2%;
    margin-left: 25%;
}
.input{
    display: block;
    margin-bottom: 2%;
    margin-left: 25%;
}
.button{
    margin-left: 25%;
}